<!DOCTYPE html>
<html>
	<head>
		<title>Operations for a movie</title>
		<link rel="stylesheet" href="/stylesheet.css"/>
	</head>
	
	<body>
		<center>
		<a href="/"><img src="/logo-siw.png" width="70%"/></a>
		</center>
		<h1 class="ops">Operazioni</h1>
		<div id="flex">
			<div class="items">
				<a href="/formNewMovie">Inserisci un film</a>
			</div>
			<div class="items">
				<a href="/manageMovies">Gestisci film</a>
			</div>
			<div class="items">
				<a href="/formSearchMovies">Cerca un film per anno</a>
			</div>
		</div>
	</body>
</html>