<!DOCTYPE html>
<html>
	<head>
		<title>Operations for an artist</title>
		<link rel="stylesheet" href="/stylesheet.css"/>
	</head>
	
	<body>
		<center>
		<a href="/"><img src="/logo-siw.png" width="70%"/></a>
		</center>
		<h1 class="ops">Operazioni</h1>
		<div id="flex">
			<div class="items">
				<a href="/formNewArtist">Inserisci un artista</a>
			</div>
			<div class="items">
				<a href="/artists">Visualizza tutti gli artisti</a>
			</div>
			<div class="items">
				<a href="/formSearchArtist">Cerca un artista per nazionalità</a>
			</div>
		</div>
	</body>
</html>