<!DOCTYPE html>
<html>
	<head>
		<title>Review</title>
		<link rel="stylesheet" href="/stylesheet.css" /> 
		<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="container2">
		<div class="card" th:if="${review}">
			<h1 th:text="${review.title}">Titolo recensione</h1>
			<div th:text="'Autore: ' + ${review.author.name}">Nome dell'autore</div>
			<br>
			<div th:text="${review.text}">Testo della recensione</div>
			<br>
			<div class="stars">
			<span>Voto complessivo al film: </span>
			<span th:each="i : ${#numbers.sequence(1, review.valutazione)}">
			    <i class="fa fa-star checked"></i>
			</span>
			</div>
			<br>
			<a href="/">Torna alla pagina iniziale</a>
		</div>
		</div>
		<br>
		<div th:unless="${review}">La notizia non esiste!</div>
	</body>
</html>