<!DOCTYPE html>
<html>
	<head>
		<title>Reviews</title>
		<link rel="stylesheet" href="/stylesheet.css" />
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	</head>
	<body>
		<header id="headerflex">
			<div>
				<a href="/moviesView">Tutti i film</a>
			</div>
			<div>
				<a href="/artists">Tutti gli artisti</a>
			</div>
			<div>
				<a href="/">Pagina iniziale</a>
			</div>
		</header>
		<br>
		<h1>Recensioni inserite dagli utenti</h1>
		<div th:if="${reviews.isEmpty()}">È un po' vuoto qui! Non ci sono recensioni nel sistema.</div>
		<ul>
			<li th:each="review:${reviews}">
				<a th:href="@{'/reviews' + '/' + ${review.id}}" th:text="${review.title}">Review info</a>
			</li>
		</ul>
	</body>
</html>